/*General*/
*{border: 0;margin: 0;padding: 0;
	 outline: none;
	 color: inherit;text-decoration: none;list-style-type: none;position: relative;-webkit-box-sizing: border-box;box-sizing: border-box;}
body{
        font-family: 'Roboto', sans-serif;
        }
header{
    background-color:#00BEEF;
    text-align: center;
    padding: 10px 0 4px;
}
main{
    width: 100vw;
    /* height: 100vh; */
    background-color: #00CBFF;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 80px);
}
main section{
    width: 90%;
    max-width: 450px;
    height: calc(100% - 45px);
    padding: 20px;
    border-radius: 0px 15px 15px 0;
    box-shadow: 0px 0px 8px -3px #9c9c9c;
}
main section:after{
    content:"";
    position: absolute;
    top: 0;
    height: 100%;
    width: 30px;
    background-color: #f7f7f7;
    left: 0;
    z-index: 0;
}
/*SecciÃƒÆ’Ã‚Â³n Acceso*/
main .sec-inicio{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .3s;
    background-color: white;
}
.sec-inicio .contAcceso{background-color: #EF424C;border-radius: 44px;
	padding: 7px;height: 91px;width: 275px;position: relative;transition: .3s;}
.contAcceso img{
    position: absolute;
    z-index: 1;
}
.contAcceso input{
    position: absolute;
    padding: 12px 2px 12px 37px;
    border-radius: 20px;
    right: 16px;
    top: 27px;
    width: 195px;
}
.sec-inicio p{color: #ef424c;font-size: 13px;margin-top: 9px;height: 15px;text-align: center;max-width: 300px;}

/*Cuando esta bloqueado*/
main .contBloquedo{
    background-color: #ef424c;
}
.contBloquedo .contAcceso{
    height: 167px;
}
.contBloquedo img{
    left: 79px;
    height: 160px;
}
.contBloquedo p{
    color: white;
    font-size: 17px;
}
main .contBloquedo:after{
    
background-color: #e23943;
    
z-index: 0;
}

/*SecciÃƒÆ’Ã‚Â³n Diario*/
main .sec-diario{
    background-color: #EFEFEF;
    padding: 0;
    display: none;
}
.sec-diario textarea{
    width: 100%;
    height: calc(100% - 130px);
    padding: 30px 25px 20px 25px;
    border-radius: 0px 15px 20px 20px;
    z-index: 1;
}
.secBotones{
    width: 80%;
    height: 105px;
    margin: 8px auto 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.secBotones .contLlave{
    display: flex;
    align-items: center;
    width: initial;
    background-color: white;
    padding: 10px 25px;
    color: #535d6f;
}
.secBotones .contLlave img{
    width: 20px;
    margin-right: 6px;
}
.contLlave label{
    display: flex;
    width: 249px;
    align-items: center;
}
.contLlave input{
    height: 30px;
    width: 85px;
    border: 1px solid #aca9ad;
    border-radius: 6px;
    margin-left: 4px;
    padding: 0 10px;
}
.secBotones button, .contLlave{
    height: 45px;
    width: 150px;
    border-radius: 5px;
    padding: 10px;
    margin: 4px 8px;
    font-size: 15px;
}
#clear{
    background-image: url(img/icon-limpiar.png);
    background-color: #ACA9AD;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 45%;
    width: 65px;
}
#btnCifrar, #btnDescifrar{
    color:white;
}
#btnCifrar{
    background-color: #ef424c;
    
}
#btnDescifrar{
    background-color: #2D3440;
}
footer{
    background-color: #26D3FF;
    text-align: center;
    color: white;
    padding: 8px 0;
}
footer p{
    display: flex;
    justify-content: center;
    align-items: center;
}
footer img{
    width: 20px;
    margin: 0 6px;
}






